# organization name, it's used to get github repo url, also in page title
name: polyfills

# badge style, can be "flat", "flat-square" or ""
# see http://shields.io/ for details
badge_style: flat-square

# meta headers in html
title:       Polyfills
description: Polyfills for the Web
keywords:    polyfills

# list of projects, this will be sorted by name;
# every package is either string or object
projects:
 - ecstacy
 - polyfills
 - ua-supports
 - es6-module-crosspiler
 - custom-media
 - variables
 - easings
 - push-polyfills
 - paas
 - es7-async-fn
 - name: polyfills-middleware
   repo: polyfills/middleware
 - name: polyfills-db
   repo: polyfills/db
 - name: css-colors
   repo: polyfills/colors
 - name: koa-polyfills
   repo: polyfills/koa

# list of maintainers, this won't be sorted
maintainers:
 - name:    Jonathan Ong
   github:  jonathanong
   npm:     jongleberry
   twitter: jongleberry
   gittip:  jonathanong
   email:   me@jongleberry.com

   # if gravatar is attached to an email different from specified above,
   # add md5 of it here:
   avatar:  6e33cc0412b61cc01daac23c8989003c

 - name:    Arpad Borsos
   github:  swatinem
   npm:     swatinem
   email:   arpad.borsos@googlemail.com

# this determines what info will be fetched with `make db`;
# you can comment out stuff to reduce number of http requests
db.json:
  projects:
   - node        # node version, it's the lowest version from .travis.yml
   - description # package description from package.json (from npm registry)
   - maintainer  # maintainer npm account (= _npmUser of last published ver)
  maintainers:
   - packages    # amount of packages this npm user has
